@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Playfair', Tahoma, Geneva, Verdana, sans-serif
}
.font_F{
 margin-bottom: 2rem;
 font-size: 40px;
 color: #ffffff;
 border-radius: 1rem;
 padding: 1.1rem;
 text-align: center;
}
.font_C:hover{
  background-color: #AD343E;
  cursor: pointer;
  color: #ffffff!important;
  transition: .5s;
  border-radius: 1rem;
}
.font_color{
  color: #100f0f;
  transition: .3s;
}
.font_color:hover{
  background-color: #DBDFD0;
  border-radius: 2rem;
  color: #AD343E!important;
}
.close-btn{
  position: absolute;
  font-size: 1.6rem;
  top: 0px;
  right: 0px;
  background: #000000;
  border: 1px solid #fff;
  color: #fff; 
  cursor: pointer;
}
.top_1{
  margin-top: 77px;
}

.img_1{
  height: 800px;
  margin-top: 4rem;
  border-radius:1rem !important;
}
.Img_card{
  height:300px;
  object-fit: cover;
  transform: scale(1);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  transition: transform 0.3s ease-in-out;
  transform: scale(1);

}
.Img_card:hover{
	transform: scale(1.1);
  cursor: pointer;
}


.img_2{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.img_3{
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
/* .logo {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */

.tour{
  position: relative;
  background-image: url('./components/Navbar/Imgs/low-poly-grid-haikei.png');
  border: dashed 1em #ffffff;
  border-radius: 2em;
}
.para{
  font-weight: lighter;
}
.tour-info{
background: #000000;
color: #ffffff;
font-weight:700;
}
.tourlist{
  background:#fff
}
.Nav_bg{
  background-color:#474747;
}
.Nav_bg1{
  background-color:#AD343E ;
  color: #DBDFD0;
}

.Btn{
  outline: none;
  border: none;
  background: #ffffff;
  color: #AD343E;
  font-weight: bold;
  width: 100%;
}
.btn:hover{
  color: #ffffff;
  background-color: #AD343E!important;
}
.form-floating input:focus + label {
  color: #AD343E !important;
}
.form-floating input:focus {
  box-shadow: 0 0 10px rgba(255, 77, 0, 0.2) !important;
  border: 1px solid #AD343E;
  outline: none; 
}
.form-floating textarea:focus + label {
  color: #AD343E !important;
}
.form-floating textarea:focus {
  box-shadow: 0 0 10px rgba(205, 0, 0, 0.2) !important;
  border: 1px solid #AD343E;
  outline: none;
}
.Sign_in {
  background-color: #ffffff!important;
  color: black!important;
}
.st_k{
  background-color: #AD343E!important;
  color: white!important;
}
.Sign_in:hover{
  background-color: #AD343E!important;
  color: #ffffff!important;
}
.bg_signup{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#tooltip-top{
  color: #ff0000!important;
}

